// margin and padding utils
@for $i from 0 through 8 {
  m-#{$i} {
    margin: $i * 4px;
  }

  mx-#{$i} {
    margin-left: $i * 4px;
    margin-right: $i * 4px;
  }

  my-#{$i} {
    margin-top: $i * 4px;
    margin-bottom: $i * 4px;
  }

  mt-#{$i} {
    margin-top: $i * 4px;
  }

  mr-#{$i} {
    margin-right: $i * 4px;
  }

  mb-#{$i} {
    margin-bottom: $i * 4px;
  }

  ml-#{$i} {
    margin-left: $i * 4px;
  }

  p-#{$i} {
    padding: $i * 4px;
  }

  px-#{$i} {
    padding-left: $i * 4px;
    padding-right: $i * 4px;
  }

  py-#{$i} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
  }

  pt-#{$i} {
    padding-top: $i * 4px;
  }

  pr-#{$i} {
    padding-right: $i * 4px;
  }

  pb-#{$i} {
    padding-bottom: $i * 4px;
  }

  pl-#{$i} {
    padding-left: $i * 4px;
  }
}

// flex utils
.d-flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.flex-main-center {
  justify-content: center;
}
.flex-cross-center {
  align-items: center;
}
.fill {
  width: 100%;
  height: 100%;
}
.flex-1 {
  flex: 1;
}
